@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
/*font-family: trade winds; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@100&family=Open+Sans&family=Trade+Winds&display=swap');

/* Mengatur gaya keseluruhan */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

/*mengatur Body*/
body {
  color: #0d0d0d;
  font-size: 15px;
  letter-spacing: 1.5px;
  background-image: url('belakang.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: left;
  background-attachment: fixed;
  height: 100%;
}

/*setting wrapper*/
.wrapper {
  width: 100%;
  height: 100%;
}

/*setting resume*/
.resume {
  width: 530px;
  margin: 10px auto;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 1.1201), -3px -3px 4px rgba(0, 0, 0, 1.1201);
}

/*setting info profil*/
.resume .profile_info {
  text-align: center;
}

/*setting pembungkus foto profil*/
.resume .profile_info .profile_img {
  width: 150px;
  margin: 0 auto 5px;
}

/*setting foto profil */
.resume .profile_info .profile_img img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

/*setting data profil*/
.resume .profile_info .data_profile .nama {
  font-size: 21px;
  margin-bottom: 1px;
  font-family: 'trade winds';
}

.resume .profile_info .data_profile span {
  color: #697c8e;
}

.resume .profile_info .data_profile .garis {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.perkenalan {
  padding-top: 40px;
}

.perkenalan .teks {
  text-align: justify;
  font-size: 12px;
}

/*setting judul*/
.resume .title {
  font-size: 17px;
  font-weight: 700;
  color: #0b1c40;
  margin-bottom: 16px;
  text-align: center;
}

/* setting skills */
/* .skills ul */

/*setting info selengkapnya*/
.full_info_wrap .tabs ul {
  display: flex;
  width: 100%;
  height: 37px;
  border: 1px solid gray;
  border-radius: 4px;
}

.full_info_wrap .tabs ul li {
  padding: 10px 15px;
  width: 33.35%;
  height: 100%;
  text-align: center;
  border-right: 1px solid gray;
  background: #f2df80;
  color: #0d0d0d;
  font-weight: 600;
  cursor: pointer;
}

.full_info_wrap .tabs ul li:last-child {
  border-right: 0px;
}

.full_info_wrap .tabs ul li:hover,
.full_info_wrap .tabs ul li.active {
  background: white;
  color: blue;
  border-bottom: 1px solid white;
}

.full_info {
  padding-top: 15px;
  height: 295px;
  background: white;
  overflow: auto;
}

.bungkus_skil {
  width: 250px;
}

.resume .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

.resume .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #f2cb07;
  position: relative;
}

.resume .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #0b1c40;
}

.bungkus_hobi {
  width: 250px;
}
.resume .resume_hobi ul li {
  display: flex;
  margin-bottom: 10px;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

.resume .resume_hobi ul li .hobi_name {
  width: 25%;
}

.resume .resume_hobi ul li .hobi_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #f2cb07;
  position: relative;
}

.resume .resume_hobi ul li .hobi_per {
  width: 15%;
}

.resume .resume_hobi ul li .hobi_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #0b1c40;
}
.bungkus_speak {
  width: 100%;
  text-align: justify;
}
.resume .resume_speak ul li {
  display: flex;
  margin-bottom: 10px;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-align: justify;
}

.resume .resume_speak ul li .speak_name {
  width: 25%;
}

.resume .resume_speak ul li .speak_progress {
  width: 85%;
  margin: 0 5px;
  height: 5px;
  background: #f2cb07;
  position: relative;
}

.resume .resume_speak ul li .speak_per {
  width: 15%;
  padding-left: 10px;
}

.resume .resume_speak ul li .speak_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #0b1c40;
}

.resume .resume_speak .ikon_flag {
  width: 15px;
}

.info_wrap {
  padding-left: 5px;
}

.info_wrap ul li {
  margin-bottom: 10px;
}

.info_wrap ul li:last-child {
  margin-bottom: 0px;
}

.info_wrap .info_item {
  padding-left: 15px;
  padding-top: 10px;
}

.info_wrap .info_item .info_title {
  font-weight: 600;
  margin-bottom: 5px;
}

.info_wrap .info_item .data {
  font-size: 12px;
  text-align: justify;
  padding-right: 5px;
}

.info_wrap .info_item .data .img_projek {
  width: 100%;
}

.contact .info_wrap ul li span {
  display: inline-block;
}

.contact .info_wrap ul li span .bun_i {
  width: 25px;
  padding-left: 7px;
  padding-top: 4px;
}

.contact .info_wrap ul li span .icon {
  width: 20px;
}

.contact .info_wrap ul li span.info_m {
  width: 150px;
}

.contact .info_wrap ul li span.info_n {
  font-weight: 600;
}

.contact .info_wrap ul li span.info_n a {
  color: black;
}

.portfolio .info_item .data span {
  display: inline-block;
  margin-left: 40px;
}

.education .info_item .data span {
  display: inline-block;
  margin-left: 40px;
}
/*--responsive--*/

@media (max-width: 700px) {
  html {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .wrapper {
    margin: auto;
  }
  .resume {
    margin: auto;
    width: 90%;
  }
  .bungkus_skil {
    margin: auto;
    width: 100%;
    width: 155px;
  }
  .bungkus_hobi {
    margin: auto;
    width: 100%;
    width: 155px;
  }

  .hobi_name {
    font-size: 4.5px;
  }
  .skill_name {
    font-size: 4.5px;
  }
  .speak_name {
    font-size: 5px;
  }
  .info_wrap .info_m {
    font-size: 10px;
  }
  .info_wrap .info_n {
    font-size: 7.6px;
  }
}
@media (max-width: 600px) {
  html {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .wrapper {
    margin: auto;
  }
  .resume {
    margin: auto;
    width: 100%;
  }
  .bungkus_skil {
    margin: auto;
    width: 100%;
    width: 250px;
  }
  .bungkus_hobi {
    margin: auto;
    width: 100%;
    width: 280px;
  }
  .hobi_name {
    font-size: 10px;
  }
  .skill_name {
    font-size: 10px;
  }
  .speak_name {
    font-size: 10px;
  }
  .info_wrap .info_m {
    font-size: 15px;
  }
  .info_wrap .info_n {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  html {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .wrapper {
    margin: auto;
  }
  .resume {
    margin: auto;
    width: 100%;
  }
  .bungkus_skil {
    margin: auto;
    width: 100%;
    width: 190px;
  }
  .bungkus_hobi {
    margin: auto;
    width: 100%;
    width: 190px;
  }
}

@media (max-width: 400px) {
  html {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .wrapper {
    margin: auto;
  }
  .resume {
    margin: auto;
    width: 100%;
  }
  .bungkus_skil {
    margin: auto;
    width: 100%;
    width: 160px;
  }
  .bungkus_hobi {
    margin: auto;
    width: 100%;
    width: 160px;
  }

  .hobi_name {
    font-size: 4.5px;
  }
  .skill_name {
    font-size: 4.5px;
  }
  .speak_name {
    font-size: 5px;
  }
  .info_wrap .info_m {
    font-size: 10px;
  }
  .info_wrap .info_n {
    font-size: 7.6px;
  }
}

@media (min-width: 800px) {
  html {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

@media (min-width: 900px) {
  html {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
